{% extends "vertical_base.html" %}
{% load static i18n %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="page-title-box">
                <div class="page-title-right"></div>
                <h1 class="page-title">Asset Groups</h4>
            </div>
        </div>
        <div class="col-6 mt-2">
            <a href="/assets/create" class="float-end"><button class="btn btn-primary btn-rounded">New Asset Group</button></a>
        </div>
    </div>
    <!-- start page title -->
    <!-- end page title --> 
    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Manage</th>
                <th>Scan</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for group in data %}
            <tr>
                <td><h5>{{ group.0.name }}</h5></td>
                <td><a class="btn btn-primary" href="/assets/{{ group.0.id }}">Details</a></td>
                <td><a class="btn btn-primary pl-3" href="/assets/manage/{{ group.0.id }}">Manage</a></td>
                <td><a class="btn btn-primary pl-3" href="/assets/{{ group.0.id }}/scan">Scan Asset Group</a></td>
                <td><a class="btn btn-primary pl-3" href="/download/group/{{ group.0.id }}">Download Report</a></td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
    

    
</div> <!-- container -->
<script>
    $('#basic-datatable').DataTable();
</script>
{% endblock %}

