{% extends "vertical_base.html" %}
{% load static i18n %}

{% block title %}Home{% endblock title %}

{% block content %}
<style>
    input, textarea{
        background-color:#666;
        color: #FFF;
    }
    </style>
<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right"></div>
                <h1 class="page-title">Asset Groups</h4>
            </div>
        </div>
    </div>
    <!-- start page title -->
    <!-- end page title --> 
    <h1>Manage Asset Group</h1>
    <div>
        <form action="/assets/manage/{{ gid }}/" method="POST">
        {% csrf_token %}
        {{ change_name_form }}
        <input type="submit" value="Submit" class="btn btn-primary mt-1" name='change_name'>
        </form>
        <h2>Add Address to Group</h2>
        <form action="/assets/manage/{{ gid }}/" method="POST">
            {% csrf_token %}
            <div>
                {{ add_asset_form.as_p }}
            </div>
            
            <input type="Submit" name = 'add' value="Submit" class="btn btn-primary mt-1">
        </form>
        <h2>Remove Address from Group</h2>
        <form action="/assets/manage/{{ gid }}/" method="POST">
            {% csrf_token %}
            {{ del_asset_form }}
            <input type="Submit" value="Submit" class="btn btn-primary mt-1" name="delete" id="del">
        </form>
        
        <form method="post" action="/assets/manage/{{ gid }}/">
            {% csrf_token %}
            <label for="remove" class="mt-2">Delete Asset Group</label><br>
            <button type="submit" value="Delete" class="btn btn-primary" name="remove" id="remove">Delete</button>
        </form>
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<!-- container -->

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_Add_Addresses').selectize({});
        $('#id_Remove_Addresses').selectize({});
    });
</script>
{% endblock %}

