{% extends "vertical_base.html" %}
{% load static i18n %}

{% block title %}Scan Info{% endblock title %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right"></div>
                <h1 class="page-title">Scan Info</h4>
            </div>
        </div>
    </div>
    <!-- start page title -->
    <!-- end page title --> 
    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Time Created</th>
                <th>Details</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for scan in scans %}
            <tr>
                {% load to_scan_address_format %}
                <td><h5>{{ scan.name }}</h5></td>
                <td>{{ scan.address_display }}</td>
                <td>{{ scan.created_at }}</td>
                <td><a class="btn btn-primary" href="/dashboard/scan/{{ scan.slug }}">Details</a></td>
                <td><a class="btn btn-primary" href="/download/scan/{{ scan.slug }}">Download Report</a></td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
    

    
</div> <!-- container -->
<script>
    $('#basic-datatable').DataTable();
</script>
{% endblock %}

