{% extends "vertical_base.html" %}
{% load static i18n %}

{% block title %}Home{% endblock title %}

{% block content %}
<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right"></div>
                <h1 class="page-title">Scan Results</h4>
            </div>
        </div>
    </div>
    <!-- start page title -->
    <!-- end page title --> 
    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
        <thead>
            <tr>
                <th>CVE</th>
                <th>Name</th>
                <th>Address</th>
                <th>Port</th>
                <th>Score</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for x in data %}
                <tr>
                    <td>{{ x.cve }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.ip }}</td>
                    <td>{{ x.port }}</td>
                    <td>{{ x.score }}</td>
                    <td><a href="{{ x.cve }}" type="button" class="btn btn-primary btn-rounded">Details</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    

    
</div> <!-- container -->
<script>
    $('#basic-datatable').DataTable();
</script>
{% endblock %}

